body{
  background-image: url("backkpic.jpeg");
 
    
  }
  
 

img{
    width:400px; height:250px; 
}
img#fixed-img{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 15px;
    right:20px;
    border-radius: 8px;
}
div{
    background-color: rgb(132, 155, 173);
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 5px rgb(255, 252, 252);
    border:3px solid rgb(255, 255, 255) ;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
}
hr{block-size: 2px; background-color: rgb(80, 77, 77);}
.smaa  {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: no;
font-size: large;
        width: 100%;
        height: 50px;
  
}

  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 15px 8px;
    text-decoration:none;
    float: left;
  }
  
  li a:hover:not(.active) {
    background-color: #aba1ff;
  }
  
  .active {
    background-color: #4e5070;
      margin-left:600px;
  }
    .w{
        background-color:rgb(161, 170, 189) ;
    }
  

.hh3{ /*member*/
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px white;
}
h1{
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px white;
}
h4{
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px white;
}

input[type=submit], input[type=reset]{
    background-color: #5631dd;
    border: none;
    color: aliceblue;
    padding:16px 32px ;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    }
    input[type=submit] {
        background-color: #32369b;
        border: none;
        color: rgb(250, 250, 250);
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }    
      input[type=reset] {
        background-color: #595a6b;
        border: none;
        color: rgb(250, 250, 250);
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }    
   